
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1492158174144'); /* IE9*/
  src: url('iconfont.eot?t=1492158174144#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1492158174144') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1492158174144') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1492158174144#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before { content: "\f0292"; }

.icon-jia:before { content: "\e619"; }

.icon-jiazai:before { content: "\e64c"; }

.icon-xinfeng:before { content: "\e600"; }

.icon-search:before { content: "\e501"; }

.icon-arrow2:before { content: "\e650"; }

